
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="..." /></div>
                <div class="col-lg-5">
                    <h1 class="font-weight-light">The Hospital of the Future, Today.</h1>
                    <p>This is a template that is great for small Hospital. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!</p>
                    <% if  can? :create, Appointment %>
                        <%= link_to 'Create appointment', new_appointment_path, class: 'btn btn-primary btn-sm' %>
                        <% end %>

                </div>
            </div>
            <div class="row gx-4 gx-lg-5">

                <% @doctors.each do |doctor| %>
                    <div class="col-md-4 mb-5">
                        <div class="card h-100">
                            <div class="card-body">
                                <h2 class="card-title"> <%= doctor.full_name %> </h2>
                                <p class="card-text">Category: <%= doctor.category.name %></p>
                            </div>
                            <div class="card-footer">
                              <% if  can? :create, Appointment %>
                                  <%= link_to 'Create appointment', new_appointment_path(doctor_id: doctor.id), class: 'btn btn-primary btn-sm' %>
                                <% end %>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
  
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

