<h2> Appointment for  <%= @appointment.patient.full_name  %> </h2>
<p> Date:  <%= @appointment.date_at %> </p>
<p> With doctor: <%= @appointment.doctor.full_name %></p>
<% if @appointment.completed? %>
  <p> Status: Completed </p>
  <p> Recommendation: <%=@appointment.recommendation %></p>
<% else %>
  <% if current_user.doctor? %>
    <%= form_with model: @appointment, url: complete_appointment_path do |form| %>
      <div class="form-select">
        <%= form.label :recommendation %>
        <br>
        <%= form.text_field :recommendation %>
        <br>
      </div>

      <div>
        <br>
        <%= form.submit :complete %>
      </div>

    <% end %>   
    </div>
  <% end %>
  <p> Status: Not Completed </p>
<% end %>
