<h2> Appointment for  <%= @appointment.patient.full_name  %> </h2>
<p> Date:  <%= @appointment.date_at %> </p>
<p> With doctor: <%= @appointment.doctor.full_name %></p>
<% if @appointment.completed? %>
  <p> Status: Completed </p>
  <p> Recommendation: <%=@appointment.recommendation %></p>
<% else %>
  <% if can? :complete, @appointment %>
    <%= form_with model: @appointment, url: complete_appointment_path do |form| %>

      <div class=" col-auto mb-1">
        <%= form.label :recommendation , class: "form-label" %>
        <br>
        <%= form.text_field :recommendation %>
       </div>
      <div class="col-auto mb-3">
          <%= form.submit 'Complete', class: "btn btn-primary" %>
      </div>

    <% end %>
  <%else%>
    <p> Status: Not Completed </p>
  <% end %>
<% end %>
